*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
header
{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
}
header .logo
{
    max-width: 120px;
}
header .toggle
{
    max-width: 60px;
    cursor: pointer;
}
header .logo img,
header .toggle img
{
    max-width: 100%;
}
.banner
{
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding: 0 100px;
    background-image: url('bg.jpg');
    background-position: center;
    background-size: cover;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}
.banner .content
{
    max-width: 550px;
}
.banner .content h2
{
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 400;
    letter-spacing: 0.1em;
    color: #fff;
}
.banner .content span
{
    font-weight: 800;
}
.banner .content p
{
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: .02em;
    line-height: 1.5em;
    color: #fff;
    margin: 15px 0 35px;
}
.paly
{
    position: relative;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    gap: 20px;
    letter-spacing: 2px;
    font-size: 1.2em;
}
.play img
{
    max-width: 50px;
}
.sie
{
    position: absolute;
    top: 50%;
    right:  20px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sie li
{
    list-style: none;
}
.sie li a
{
    text-decoration: none;
}
.sie li a img
{
    filter: invert(1);
    transform: scale(0.6);
}
.slide
{
    position: absolute;
    left: 50px;
    left: calc(50% - 250px / 2);
    width: 250px;
    height: 150px;
    background-image: url('joker.png');
    background-size: cover;
    cursor: pointer;
    animation: animate 25s linear infinite;
}
@keyframes animate {
    0%,100%
    {
        background-position: top;
    }
    45%,55%
    {
        background-position: bottom;
    }
}
.trailer
{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    background: rgba(0,0,0,0.95);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 10000;
    visibility: hidden;
    opacity: 0;
}
.trailer.active
{
    visibility: visible;
    opacity: 1;
}
.trailer video
{
    max-height: 670px;
    outline: none;
}
.trailer .close
{
    position: absolute;
    right: 30px;
    top: 30px;
    filter: invert(1);
    cursor: pointer;
    max-width: 30px;
}
@media (max-width:991px) {
    header
    {
        padding: 20px 50px;
    }
        header
    {
        padding: 20px 50px;
    }
        header .logo
    {
        max-width: 80px;
    }
    header .toggle
    {
        max-width: 40px;
    }
    .banner
    {
        padding: 100px 50px
    }
    .sie
{
    position: absolute;
    bottom:  initial;
    right:  initial;
    margin-top: 40px;
    transform: translateY(-50%);
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide
{
    position: relative;
    bottom: initial;
    left: 0;
    margin: 20px;
}
.sie li 
{
    list-style: none;
    margin: 0 5px;
}
.trailer video
{
    max-width: 90%;
    outline: none;
}
}